In [34]:
import matplotlib.pyplot as plt
import numpy as np
import xarray as xr
import pandas as pd
import warnings
# filter some warning messages
warnings.filterwarnings("ignore") 

####################you will need to change some paths here!#####################
#list of input files
filename_cpr='f:/data/project_data/NASA_biophysical/collocated_data/Eddy_samples_with_plankton_data.xlsx'
filename_cpr_out='f:/data/project_data/NASA_biophysical/collocated_data/Eddy_samples_with_plankton_data_2020_10_07.csv'

In [5]:
df = pd.read_excel(filename_cpr,sheet_name='Samples for Eddy study')

In [19]:
df

,cpr_sample_id,cpr_sample_day,cpr_sample_month,cpr_sample_year,cpr_sample_lat,cpr_sample_lon,cpr_sample_proc,eddy_data_track_id,In eddy?,eddy_data_distance,...,small copepods (# per sample),large copepods (# per sample),Euphausiids (# per sample),Hyperiids (# per sample),Chaetognaths (# per sample),Larvaceans (# per sample),Pteropods (# per sample),Microzooplankton (# per sample),Other mesozooplankton (# per sample),Zooplankton Biomass (estimated mg dry weight per sample)
0,28VJ23,7,12,2002,51.710832,-134.628564,Yes,118997,True,62.041000,...,98.0,14.0,3.0,0.0,1.0,0.0,0.0,196.0,0.0,6.03222
1,28VJ22,7,12,2002,51.638477,-134.387077,Yes,118997,True,45.652374,...,343.0,14.0,1.0,0.0,1.0,0.0,0.0,392.0,0.0,6.86785
2,28VJ20,7,12,2002,51.493770,-133.905257,Yes,118997,True,24.663580,...,49.0,11.0,1.0,2.0,2.0,147.0,0.0,98.0,0.0,10.07447
3,28VJ19,7,12,2002,51.421415,-133.664925,Yes,118997,True,29.956635,...,0.0,13.0,2.0,0.0,0.0,0.0,0.0,98.0,0.0,3.86184
4,28VJ18,7,12,2002,51.349060,-133.424976,Yes,118997,True,43.256924,...,196.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.07175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,160AT47,12,5,2013,52.693333,-133.461667,NaN,229649,False,136.836411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,163AT43,14,6,2013,52.923333,-133.940000,NaN,241096,False,191.237091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
746,163AT44,14,6,2013,53.028333,-134.155000,NaN,241096,False,172.910507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
747,163AT45,14,6,2013,53.131667,-134.371667,NaN,241096,False,154.672745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748,166AT46,14,7,2013,53.266667,-134.653333,NaN,241096,False,152.002640,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
filename_northpac_eddies='f:/data/project_data/NASA_biophysical/aviso/eddy_trajectory_19930101_20170106_north_pacific_2020_10_06.nc'
ds_eddy = xr.open_dataset(filename_northpac_eddies)

In [11]:
ds_eddy

<xarray.Dataset>
Dimensions:             (z: 1514261)
Dimensions without coordinates: z
Data variables:
    Longitude           (z) float32 ...
    Latitude            (z) float32 ...
    time                (z) datetime64[ns] ...
    amplitude           (z) float32 ...
    speed_average       (z) float32 ...
    speed_radius        (z) float32 ...
    cyclonic_type       (z) int32 ...
    track               (z) int32 ...
    track_total_days    (z) int32 ...
    observation_number  (z) int16 ...
    year                (z) float32 ...
    idayjl              (z) float32 ...

In [35]:
ilen = len(df.eddy_data_track_id)
print(ilen)
for i in range(ilen):
    tem = np.where(df.eddy_data_track_id[i]==ds_eddy.track)
    df.eddy_data_cyclonic_type[i]=ds_eddy.cyclonic_type[tem].data[0]
df.to_csv(filename_cpr_out)

749